extends layout

block content
    h1= title
    a(class="createBook" href="/books/new") Create New Book
    form(class="searchForm" action="/books" method="post")
        input(class="searchInput" type="text" name="search")
        input(class="searchBtn" type="submit" value="Search")
    table
        tr
            th Title
            th Author
            th Genre
            th Year
        if books
            each book in books
                tr
                    td
                        a(href="/books/"+book.id)= book.title
                    td= book.author
                    td= book.genre
                    td= book.year
    br
    - var i = currentPage;
    - var j = totalPages;
    if currentPage > 1
        a(class="pageBtn" href=`/books?page=${--currentPage}`) Prev Page

    if i < j
        - ++i
        a(class="pageBtn" href=`/books?page=${i}`) Next Page


